<div class="relly">
    <div class="deebo-dd-select-hide deebo-dd-groupby" [class.deebo-dd-select]="optsOpen">
        <div *ngIf="enableClear" class="deebo-dd-opt deebo-dd-groupby">
            <button (click)="setGrouping(null)" class="v-mid no-btn">
                <i class="material-icons error-message heavy v-mid" aria-hidden="false">close</i>&nbsp;<span class="md-text v-mid">Grouping</span>
            </button>
        </div>
        <div *ngFor="let grp of groups" class="deebo-dd-opt deebo-dd-groupby">
            <div>
                <label for="groupby{{grp}}" >
                    <input type="radio" name="groupby" id="groupby{{grp}}" (click)="setGrouping(grp)" (input)="setGrouping(grp)"> 
                    {{common.titleCase(grp)}}
                </label>
            </div>
        </div>
    </div>
</div>
<div class="deebo-dd-contain deebo-dd-groupby flex-center" (click)="toggleGroupByOpts()">
    <button class="btn-deebo-dd deebo-dd-groupby no-btn">
        <span>Group By</span>
        <i class="material-icons" aria-hidden="false">{{optsOpen ? "keyboard_arrow_up" : "keyboard_arrow_down"}}</i>
    </button>
</div>