.num-col-val-dist-cont{
    height: 36px;
    margin: 17px 0;
    position: relative;
    box-sizing: border-box;
    padding: 0 !important;
    border-bottom: 1px solid var(--grid-color);
}

.num-col-val-dist-bar{
    top: 6px;
    bottom: 0;
    width: 12px;
    opacity: 0.1;
    height: 30px;
    position: absolute;
    padding: 0 !important;
    box-sizing: border-box;
    background: var(--accent-color);
}

.num-col-avg-dist-bar{
    top: 3px;
    bottom: 0;
    width: 1px !important;
    position: absolute;
    padding: 0 !important;
    box-sizing: border-box;
    background: #00a8f3;
}

.num-col-avg-dist-bar::before{
    display: block;
    content: "Avg.";
    font-size: small;
    white-space: nowrap;
    margin: -15px 0 0 -9px;
}

.num-col-val-dist-bar:hover{
    opacity: 1;
    z-index: 2;
}

.num-col-val-dist-bar:hover::before, .num-col-avg-dist-bar:hover::before{
    display: block;
    font-size: small;
    margin: -15px 0 0 -5px;
    white-space: nowrap;
    background: white;
    padding: 2px;
    content: attr(data-number);
}