<ng-container *ngIf="isNumData">
    <div class="half-wid" [id]="'sum' + common.elifyCol(column)">
        <span class="v-mid">Total: </span><span class="lg-text v-mid{{symCls}}" [attr.data-symbol]="symAttr">{{sum}}</span>
    </div><div class="half-wid" [id]="'avg' + common.elifyCol(column)">
        <span class="v-mid">Avg: </span><span class="lg-text v-mid{{symCls}}" [attr.data-symbol]="symAttr">{{avg}}</span>
    </div><div class="half-wid" [id]="'min' + common.elifyCol(column)">
        <span class="v-mid">Min: </span><span class="lg-text v-mid{{symCls}}" [attr.data-symbol]="symAttr">{{min}}</span>
    </div><div class="half-wid" [id]="'max' + common.elifyCol(column)">
        <span class="v-mid">Min: </span><span class="lg-text v-mid{{symCls}}" [attr.data-symbol]="symAttr">{{max}}</span>
    </div><div *ngIf="modeHtml" [innerHTML]="modeHtml"></div><div>{{tdivHtml}}</div>
    <div *ngIf="numValDistMsg" class="vdh-loading">{{numValDistMsg}}</div>
    <app-num-value-distro-component
    *ngIf="numLen < numArrMax"
    [column]="column"
    [average]="numAvg"
    [originalArr]="colData"
    (done)="numValDistMsg = $event"
    [title]="'Building ' + common.sanitizeUi(common.titleCase(column)) + ' value distribution...'"
    ></app-num-value-distro-component>
</ng-container>

<ng-container *ngIf="!isNumData">
    <div *ngIf="nonNumUVal">{{nonNumUVal}}</div>
    <div *ngIf="nonNumEVal">{{nonNumEVal}}</div>
    <div *ngIf="modeHtml" [innerHTML]="modeHtml"></div>
</ng-container>
<ng-container *ngIf="pieData">
    <app-pie-graph-component
    [data]="pieData"
    [column]="column"
    ></app-pie-graph-component>
</ng-container>
