.row-group-panel{
    padding: 17px 11px;
}

.open-panel{
    box-shadow: 0 1px 3px 1px var(--grid-color);
    -moz-box-shadow: 0 1px 3px 1px var(--grid-color);
    -webkit-box-shadow: 0 1px 3px 1px var(--grid-color);
}