.chart-rel-contain{
    z-index: 25;
}

.chart-contain{
    left: 0;
    right: 0;
    top: 11px;
    opacity: 0;
    overflow: auto;
    position: absolute;
    background: white;
}

.chart-contain .relly button i{
    font-size: 30px;
}

.chart-contain-show{
    opacity: 1 !important;
    transition: all 0.3s ease-in;
}