.deebo-dd-select-hide{
    opacity: 0;
    max-height: 0;
    min-width: 0;
    max-width: 0;
    overflow: hidden;
}

.deebo-dd-contain{
    width:200px;
    height:36px;
    border:none;
    padding: 0 7px;
    cursor: pointer;
    border-radius:3px;
    display: inline-flex;
    background: white;
    vertical-align: middle;
    box-sizing: border-box;
    border-bottom: none !important;
    box-shadow:0 0 2px 2px var(--grid-color);
    -moz-box-shadow:0 0 2px 2px var(--grid-color);
    -webkit-box-shadow:0 0 2px 2px var(--grid-color);
    font-family:'Roboto Condensed', Arial, Helvetica, sans-serif
}

.deebo-dd-selected{
    position: relative;
}

.deebo-dd-contain button, .deebo-dd-contain label{
    padding: 0;
    overflow: hidden;
    vertical-align: middle;
}

.deebo-dd-contain button span, .deebo-dd-contain button i{
    vertical-align: middle;
    font-size: var(--reg-font-size);
}

.deebo-dd-opt{
    padding: 15px 7px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--grid-color);
}

.deebo-dd-opt button, .deebo-dd-opt div{
    width: 100%;
    text-align: left;
    font-size: var(--reg-font-size);
}

.deebo-dd-opt button:hover{
    text-decoration: underline;
}

.btn-deebo-dd i{
    margin-left: 5px;
}

.deebo-dd-select{
    top: -124px;
    z-index: 10;
    border-radius: 3px;
    position: absolute;
    background: white;
    opacity: 1 !important;
    overflow: auto !important;
    min-height: 120px;
    white-space: normal;
    min-width: 200px !important;
    max-width: 200px !important;
    max-height: 100px !important;
    box-shadow:0 0 3px 2px var(--grid-color);
    -moz-box-shadow:0 0 3px 2px var(--grid-color);
    -webkit-box-shadow:0 0 3px 2px var(--grid-color);
    transition: opacity 0.2s ease;
}

@media screen and (min-width: 960px) {
    .deebo-dd-contain{
        width: 250px;
    }

    .deebo-dd-select{
        min-width: 250px !important;
        max-width: 250px !important;
    }
}

.deebo-dd-opt:last-of-type{
    border-bottom: none;
}
