<div #pieParent class="center relly pad-top-thirty">
    <canvas #pieCanvas></canvas>
    <div #pieLayover class="pie-layover"></div>
</div>
<div class="chart-label-cont">
    <div *ngFor="let lbl of pieLbls" class="pie-piece-label">
        <span [attr.data-percent]="lbl.percent">{{lbl.text}}</span>
        <label class="pie-piece-label-sq" [style.background]="lbl.background"></label>
    </div>
</div>
<div *ngFor="let rm of rmNotes; let i = index" [innerHTML]="rm"
[ngClass]="{ 'pad-top-thirty': i === 0, 'pad-top-ten': i !== 0, 'small-text': true }"
></div>